* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    background-position: 100%;
}

h1{
    text-align: center;
    color: rgb(88, 43, 43);
}

h2{
    text-align: center;
    color: white;
}

.line{
    color: white;
}

header {
    padding: 40px;
    background-image: url("wall31.jpg");
    background-attachment: fixed;
    background-size: 100%;
    height: 150px;
    text-align: left;
}

.heading{
    font-family: 'Akaya Telivigala', cursive;
    color: rgb(255, 255, 255);
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
}

nav {
    background-color: rgb(173, 108, 108);
    overflow: hidden;
    box-shadow: #00000079 2px 2px 2px 2px;
    font-family: 'Roboto Mono', monospace;
    height: 100px;
}

nav a {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    float: right;
    color: rgb(202, 181, 141);
    font-weight: bold;
}

nav a:hover{color: white;}

.alert{
    color: blue;
}

#searchin{
    height: 40px;
    margin-top: 7.5px;
    margin-left: 10px;
    width: 255px;
    border-radius: 5px;
    border-style: none;
}

#rel{
    align-content: center;
}

#nav{
    text-decoration: none;
    padding: 15px;
    text-align: center;
    float: right;
    color: rgb(202, 181, 141);
    font-weight: bold;
    border-style: none;
    background-color: rgb(163, 110, 110);
}
#nav:hover{color: white;}

#container{
    text-align: center;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 400px){
    nav{
        height: 150px;
    }
}